[submodule "bgfx"]
	path = bgfx
	url = https://github.com/tidemmo/bgfx.git
[submodule "bx"]
	path = bx
	url = https://github.com/tidemmo/bx.git
[submodule "bimg"]
	path = bimg
	url = https://github.com/tidemmo/bimg.git
